/* reset css */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #fe3334;
  border-bottom: 100px solid transparent;
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.5rem;
  line-height: 2rem;
  right: 5px;
  z-index: -1;
  background: white;
  width: 390px;
  height: 180px;
  transition: all .75s;
  text-align: center;
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 200px solid #ff989e;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff858a;
}

.options {
  display: flex;
  gap: 5rem;
}

.options button {
  color: #ff3234;
  font-weight: 600;
  border-radius: 3px;
  background: #fad7df;
  padding: 0.5rem 1rem;
  border: 1px solid #fe3334;
  cursor: pointer;
}

.options button:hover {
  background: #ff989e;
  color: white;
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

.paloma {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;
  color: #fe3334;
  animation: crecer 1s forwards;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}

/* Estilos para negritas */
strong {
  font-weight: bold;
}

.titulo {
  font-size: 4rem;
  font-style: italic;
  color: #fad7df;
  text-transform: uppercase;
  text-align: center;
}
/* Estilos generales */
body {
  background-color: #fad7df;
}

.paper {
  display: flex; /* Usamos flexbox para alinear los elementos en línea */
  align-items: center; /* Alineamos verticalmente */
  gap: 1rem; /* Espacio entre el texto y la imagen */
  line-height: 2rem;
  padding: 1.5rem;
  background: white;
  width: 390px;
  height: 180px;
  text-align: center;
}

.dynamic-image {
  width: 40px; /* Puedes ajustar el tamaño de la imagen */
  height: 40px;
  object-fit: cover; /* Hace que la imagen se ajuste bien */
  border-radius: 50%; /* Hace la imagen redonda si es necesario */
  transition: transform 1s ease;
}

/* Efecto al pasar el mouse sobre la imagen */
.dynamic-image:hover {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen cuando el mouse pasa sobre ella */
}
