/* Reset CSS */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

/* Estilos Generales */
body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Animación del título */
.titulo {
  font-size: 4rem;
  font-style: italic;
  color: #FF3335;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transition: text-shadow 0.3s ease-in-out;
}

.titulo:hover {
  text-shadow: 0 0 10px #FF3335, 0 0 20px #FF6666, 0 0 30px #FF9999;
}

/* Animación del diente saltando entre letras */
.diente {
  position: absolute;
  left: 0;
  top: -40px;
  font-size: 2rem;
  animation: saltarDiente 3s infinite linear;
}

@keyframes saltarDiente {
  0%, 100% { left: 0%; }
  12.5% { left: 12%; }
  25% { left: 24%; }
  37.5% { left: 36%; }
  50% { left: 48%; }
  62.5% { left: 60%; }
  75% { left: 72%; }
  87.5% { left: 84%; }
  100% { left: 100%; }
}
